#before {
   border: solid 10px red;
   color: blue;
   width: 200px;
   height: 100px;
   position: fixed;
   left: 0px;
   top: 0px;
}

#content {
   border: solid 10px blue;
   color: blue;
   width: 200px;
   height: 100px;
   position: absolute;
   left: 220px;
   top: 240px;
}

#after {
   border: solid 10px green;
   color: blue;
   width: 200px;
   height: 500px;
   position: absolute;
   left: 0px;
   top:120px;
}
